.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  height: 48px;
  margin-top: auto;
  margin-bottom: 30px;
  border: 0 solid transparent;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  color: $color-white;
  text-align: center;
  text-transform: uppercase;

  background-color: $main-text-color;
  outline: none;

  transition:
    background-color $effectDuration,
    color $effectDuration,
    border $effectDuration;

  /* &--large {
    grid-column: 1 / -1;
    margin-top: 16px;
    line-height: 27px;

    @include on-desktop {
      grid-column: span 5;
    }
  } */

  &:hover {
    border: $border-big solid $color-button-hover;
    color: $main-text-color;
    background-color: $row-background-color;
  }

  &:active {
    transform: scale(0.98);
    color: $color-white;
    background-color: $color-dark-gray;
  }

  @include on-tablet {
    display: none;
  }

  &--tablet {
    display: none;

    @include on-tablet {
      display: flex;
      width: 100px;
      margin: 0 auto;
    }

    @include on-desktop {
      width: 102px;
    }
  }
}
