.presentation {
  @include card-hover;

  aspect-ratio: 320 / 195;
  width: calc(100% + 36px);
  margin-inline: -18px;

  background-image: url(../images/main-img/presentation-tablet.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @include on-tablet {
    aspect-ratio: 744 / 430;
    width: 100%;
    margin-inline: 0;
    background-image: url(../images/main-img/presentation-tablet.png);
  }

  @include on-desktop {
    aspect-ratio: 1280px / 520;
    width: 846px;
    margin: 0 auto;
    background-image: url(../images/main-img/presentation-desktop.png);
  }
}
