.technology {
  font-family: Inter, sans-serif;
  font-weight: 700;
  letter-spacing: 0%;

  @include on-tablet {

    @include page-grid;

    align-items: start;

    &__photo {
      grid-column: 1 / 5;
      grid-row: 1 / 8;
    }

    &__title {
      grid-column: 5 / 9;
      grid-row: 1 / 2;
    }

     &__text {
      grid-column: 5 / 9;
      grid-row: 2 / 3;
    }

    &__link {
      grid-column: 5 / 9;
      grid-row: 3 / 4;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;

    @include on-tablet {
      margin-top: 0;
      font-size: 36px;
      line-height: 46px;
    }
  }

  &__photo {
    width: 100%;
    height: 210px;
    margin-bottom: 20px;

     @include on-tablet {
      width: calc(100% + 34px);
      height: 415px;
      margin-bottom: 0;
      margin-left: -34px;

      object-fit: cover;
    }
  }

  &__text {
    margin-bottom: 30px;

    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: $main-color;

    @include on-tablet {
      align-self: stretch;
      margin-bottom: 60px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__link {
    position: relative;

    /* display: inline-block; */

    font-size: 12px;
    line-height: 14px;
    color: $color-link;
    text-transform: uppercase;

    &::after {
      content: '';

      position: absolute;
      bottom: -6px;
      left: 0;
      transform-origin: left;
      transform: scale(0.4);

      display: block;

      width: 100%;
      height: 1px;

      background-color: $color-link;

      transition: transform $effectDuration;


      @include on-tablet {
        bottom: -5px;
        transform: scaleX(0.2);
      }

      @include on-desktop {
        transform: scaleX(0.1);
      }
    }

    &:hover::after {
      transform: scale(1);
    }
  }
}
