.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-block: 24px;

  background-color: $c-gray;

  &__actions {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__logo {
    height: 26px;

    @include hover(transform, scale(1.2));
  }
}
