.menu {
  overflow: auto;
  box-sizing: border-box;
  background-color: $c-gray;

  &__content {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__top {
    background-color: $c-gray;
    margin-bottom: 32px;

    /* @include on-tablet {
      margin-bottom: 0;
    } */
  }

  &__nav {
    margin-bottom: 50px;
  }
}
