.nav {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &__link {
    position: relative;
    color: inherit;
    text-decoration: none;

    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    &--bold {
      font-weight: 700;
    }

    /* &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $main-text-color;

      transition: transform $effectDuration;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      transform: scale(1);
    } */
  }
}

.speacs {
  display: flex;
  gap: 20px;
  align-items: center;

  &__gray {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    color: $speacs-color;

    &--dark {
      font-weight: 400;
      line-height: 18px;
      color: $main-text-color;
    }
  }
}
