$c-gray: #F7F7F7;
$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$effectDuration: 0.3s;
$main-text-color: #333;
$menu-color-bold: #131313;
$speacs-color: #4F4F4F;
$main-color: #7C7C7C;
$color-white: #fff;
$color-footer: #BDBDBD;
$color-link: #0DB2B3;
$color-features: #0C797A;
$color-button-disabled: #D0D0D0;
$questions-button: #39BEBF;
$questions-button-disabled: #CFEFF0;
$row-color-bold: #828282;
$row-color-dark: #044f85;
$questions-border: #828282;
$row-color: #7e7e83;
$row-background-color: #f8f8fa;
$user-invalid: #EB5757;
