$c-gray: #eee;
$tablet-min-width: 640px;
$desktop-min-width: 1280px;
$effectDuration: 0.3s;
$main-text-color: #333;
$menu-color-bold: #131313;
$speacs-color: #4F4F4F;
$color-white: #fff;
$color: #fff;
$row-background-color: #f8f8fa;
$row-color: #7e7e83;
$row-hover-border: #d5d7de;
$row-color-dark: #044f85;
$row-color-bold: #4F4F4F;
$color-dark-gray: #111;
$color-button-hover: #f0f1f4;
$border-small: 1px;
$border-big: 2px;
$border-radius: 8px;
$border-radius-smoll: 4px;
